/*pタグの中でもbluecolorクラスのものだけ装飾*/
p.bluecolor{
    color:blue;
}
/*h1タグの中でもkudoというやつだけ装飾*/
h1#kudo{
    font-family: impact;
    font-size: 60px;
}

h2{
    color:red !important;
}

h2:hover{
    background-color: aqua;
}